a {
  text-decoration: none;
}
li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  margin: 12px 180px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.App-nav .Nav-links {
  display: inline-block;
  margin: 0 20px;
  padding: 8px 5px;
}
.App-nav .Nav-links {
  font-size: 18px;
  font-weight: 500;
}

.Hero {
  background: #495E57;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.Hero .Hero-left {
  margin: 0 180px;
  margin-top: -38px;
  width: 75%;
}
.Hero article h1 {
  color: #F4CE14;
  font-size: 64px;
  line-height: 1em;
}
.Hero article p:first-of-type {
  margin-top: -70px;
  color: #fff;
  font-size: 40px;
}
.Hero article p:last-of-type {
  color: #fff;
  font-size: 24px;
  width: 75%;
  margin-top: -20px;
  margin-bottom: 30px;
}
.Hero-left .table-link {
  background-color: #F4CE14;
  color: #000;
  padding: 15px 50px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
.Hero .Hero-right {
  /* margin: 30px 180px; */
  position: absolute;
  top: 140px;
  right: 200px;
}

.Highlights {
  margin: 0 180px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.Highlight-article {
  display: grid;
  grid-template-columns: auto auto auto;
}

.Highlight-head {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 50px;
  align-items: center;
}
.Highlight-head h2 {
  font-size: 40px;
}
.Highlight-head button {
  background-color: #F4CE14;
  padding: 0 20px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  width: 75%;
  height: 50px;
  margin-left: 40px;
}
.Highlight-article article {
  height: 500px;
  width: 300px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.Article1 img, .Article2 img, .Article3 img {
  max-height: 50%;
  max-width: 100%;
  object-fit: cover;
}
.Details {
  color:#331f09;
  padding: 0 20px;
}
.Details span {
  margin-left: 120px;
  color: #cf7b1a
}

/* Booking Page Style */

.BookPage {
  display: grid;
  grid-template-columns: 50% 50%;
}

.BP-left {
  display: block;
  background-image: url(./assets/background.png);
  background-color: whitesmoke;
  height: 60vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  /* margin-left: 10px; */
}
.BP-left .Overlay {
  height: 300px;
  width: 400px;
  position: absolute;
  background-color: #495E57;
  opacity: .9;
  border-bottom-left-radius: 100%;
  left: 235px;
  top: 96px;
}
.BP-left .Overlay h2 {
  color: #F4CE14;
  font-size: 30px;
  text-align: center;
}

.BP-right {
  /* background-color: rgb(93, 119, 141); */
  justify-content: center;
  padding: 50px;
}

form {
  width: 100%;
  /* background-color: rgb(112, 96, 96); */
}
form > h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: left;
}
form > p:first-of-type {
  margin-top: -20px;
  color: #495E57;
}
form label {
  display: block;
}
form input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}
form select {
  width: 205px;
  height: 30px;
  margin-bottom: 20px;
}
form select > option {
  border-bottom: 5px dotted red;
  font-size: 18px;
  text-align: center;
  background-color: #fefeff;
  color: #495E57;
}
form button {
  background-color: #F4CE14;
  color: #000;
  padding: 15px 50px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
form button:disabled {
  background-color: #b4a86f;
  color: #363535;
  padding: 15px 50px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  cursor: default;
}
.FormError {
  color: rgb(180, 17, 17);
}


.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 25vh;
  background-color: #b8cfc8;
  padding: 0 30px;
}