a {
  text-decoration: none;
}
li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  margin: 12px 180px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.App-nav .Nav-links {
  display: inline-block;
  margin: 0 20px;
  padding: 8px 5px;
}
.App-nav .Nav-links {
  font-size: 18px;
  font-weight: 500;
}

.Hero {
  background: #495E57;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.Hero .Hero-left {
  margin: 0 180px;
  margin-top: -38px;
  width: 75%;
}
.Hero article h1 {
  color: #F4CE14;
  font-size: 64px;
  line-height: 1em;
}
.Hero article p:first-of-type {
  margin-top: -70px;
  color: #fff;
  font-size: 40px;
}
.Hero article p:last-of-type {
  color: #fff;
  font-size: 24px;
  width: 75%;
  margin-top: -20px;
}
.Hero-left button {
  background-color: #F4CE14;
  padding: 15px 50px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  border: 0;
  /* margin-top: -px; */
  margin-bottom: 20px;
  cursor: pointer;
}
.Hero .Hero-right {
  /* margin: 30px 180px; */
  position: absolute;
  top: 140px;
  right: 200px;
}

.Highlights {
  margin: 0 180px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.Highlight-article {
  display: grid;
  grid-template-columns: auto auto auto;
}

.Highlight-head {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 50px;
  align-items: center;
}
.Highlight-head h2 {
  font-size: 40px;
}
.Highlight-head button {
  background-color: #F4CE14;
  padding: 0 20px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  width: 75%;
  height: 50px;
  margin-left: 40px;
}
.Highlight-article article {
  height: 400px;
  width: 300px;
  background-color: whitesmoke;
}